.nav-main {
    background-color: $main;
    display: flex;
    justify-content: space-between;

    .nav-left {
        width: 45%;
        float: left;
        display: flex;
        justify-content: space-around;
    }
    .nav-right {
        width: 45%;
        float: right;
        display: flex;
        justify-content: space-around;
    }
}